/*.containerNav{
    background-color: rgba(250, 13, 131, 0.466);
    width: 90vw;
    height: 8vh;
    color: #ffffff;
   margin: 2% 5% ;
}

.container-element{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

   
a{
    color: #ffffff;
    margin-left: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-weight: 400;
    text-decoration: none;
    
 } 

a:hover{
    color: #ffffff;
}
 
 

 .logo{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
 }

 .logo img{
    width: 40%;
 }


 .login-register{
    width: 30vw;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;  

 }

 .login-register ul{
    display: flex;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
 }

 .login-register ul li{
    color: #ffffff;
    font-size: xx-large;
 }
 */


 